* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.sdt {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.sdt div {
    display: flex;
    width: 300px;
}

.sdt div h3 {
    display: flex;
    padding-top: 20px;
}

.a {
    display: flex;
    margin-top: 15px;
}

.b {
    display: flex;
    margin-top: 15px;
    margin-left: 500px;
}

.c {
    display: flex;
    margin-left: -100px;
}

.navigation {
    background-color: #E95211;
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 40px;
}

.navi-con {
    background-color: #E95211;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-size: 22px;
    text-align: center;
    align-items: center;
}

.text {
    font-size: 13px;
    text-decoration: none;
    color: white;
    background-color: #E95211;
}

.text:hover {
    color: white;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item1 {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.item-item1 {
    background-image: url(./1000z-launch-website-banner_1695177885.webp);
}

.item-item2 {
    background-image: url(./banner-sale-12_1695182579.webp);
}

.item-item3 {
    background-image: url(./nanoflare-800_1698800723.webp);
}

.item-item4 {
    background-image: url(./ynx-eclp-banner_1695178004.webp)
}

.container2 {
    padding-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.item2 {
    background-image: url(./Screenshot\ 2024-05-21\ 155152.png);
    height: 60px;
    width: 1300px;
}

.container3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

.product {
    width: 1259px;
    line-height: 26px;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}

.product h2 {
    padding-bottom: 20px;
}

.product h2 a {
    text-decoration: none;
    color: #E95211;
}

.product h2:after {
    content: "";
    width: 160px;
    height: 5px;
    background: #e5e9ed;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 3px;
    box-sizing: border-box;
}

.product h2:before {
    content: "";
    background: #E95211;
    width: 50px;
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 1;
    border-radius: 3px;
}

